h1,
h2 {
  font-family: "Lato", sans-serif; /* Make sure to enclose font names with spaces in single quotes */
}

button {
  color: #ffffff;
  outline: none;
  border: 0;
  padding: 10px 45px;
  border-radius: 15px;
  letter-spacing: 1.5px;
  cursor: pointer;
}

