* {
  font-family: sans-serif;
}

header {
  text-align: center;
}

.members {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 100px;
  margin: auto;
  width: 75%;
}

.member,
img {
  max-width: 100%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  /* CSS rules for small screens */
  .members {
    /* Adjust layout for small screens */
    display: flex;
    flex-direction: column;
  }
  .member {
    /* Adjust layout for individual members on small screens */
    text-align: center;
  }

  .member,
  img {
    max-width: 100%;
  }
}
